---
layout: default
title: Page Not Found
description: Sorry – the page your looking for doesn't exist.
featured_image: /images/pages/404/404_1.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>404 Page not found.</h1>
		<p class="hero__text editable">Sorry – the page your looking for doesn't exist.</p>
		<p class="hero__text editable">Perhaps you typed the URL incorrectly, or it may have moved.</p>
		<p><a href="/blog" class="button button--large">Back To Home</a></p>

	</div>

</section>
