---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>
	</div>
</section>

<section class="single">
	<div class="wrap">
		<!-- Begin Comments -->
		{% if page.comments != false %}
			<div id="comments">
				{% include comments.html %}
				</div>
		{% endif %}
		<!-- End Comments -->
	</div>
</section>
